In [1]:
#functions, global and local variables
a = 3 #global variable
def myfirstfunc():  #function
  a= "hi" #local variable
  print(a)

myfirstfunc()
print(a)

#arguments
def myfirstfunc(name): #name here is a parameter
  a= "welcome to " 
  print(a + name)

myfirstfunc("sem1")   #sem1 here is an argument

#return and pass statements
def myfirstfunc(p,q):
  return (p*q)
print(myfirstfunc(3,5))

def myfirstfunc():
   pass

hi
3
welcome to sem1
15

In [12]:
#classes and objects
class mypythonclass:  #your class name is 'mypythonclass'
  a = 5               #Here 'a' is your property existing within your class

answer = mypythonclass()  #Here 'answer' is your object
print(answer.a)           #access the 'a' variable of your class

class myinitclass:     #your class name is 'myinitclass'
  def __init__(self, name, place):   #initialize your parameters name and place using 'self'. 'self' could be replaced by anything
    self.name = name
    self.place = place

  def intro(self):
    print("My name is " + self.name + " and I am from " + self.place)  #define your print function using the above parameters

newanswer = myinitclass("Devasena", "Tirupati")  #write your object
newanswer.intro()                                #access your object

5
My name is Devasena and I am from Tirupati

In [17]:
#lambda functions (can take any number of inputs/arguments, but it can only have one output/expression)
k = lambda x, y : x ** y
print(k(5, 2))

def myfunc(p):
  return lambda p : p+2

odd = myfunc(2)
print(odd(1))

25
3

Next Class: Inheritance, User input